.card {
    display: grid;
    grid-gap: 10px;
    width:400px;
    margin:0px auto;
    background-color:white;
    box-shadow:0px 5px 20px #999;
}
.card a {
    color:rgb(53, 53, 53);
    text-decoration:none;
}
.card:hover .card-image img {
    width:160%;
    filter:grayscale(0);
}
.card-image {
    height:250px;
    position:relative;
    overflow:hidden;
}
.card-image img {
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    filter:grayscale(1);
    transition-duration:.3s;
    transition-timing-function:ease;
}
.card-body {
    text-align:center;
    padding: 15px 20px;
    box-sizing: border-box;
}
.card-date {
    font-family: 'Source Sans Pro', sans-serif;
}
.card-title, .card-content {
    font-family: 'Playfair Display', serif;
}
.card-title1, .card-title2 {
    text-align:center;
    text-transform:uppercase;
    font-weight: bold;
}
.card-date, .card-content {
    color: #777;
}
