
input{
    width: 300px;
    height: 35px;
}

body {
    text-align: center;
    
}
input:required {
    border: 1px dashed rgb(51, 49, 49);
  }
input[type=text], select {
    width: 100%;
    padding: 20px 32px;
    margin: 8px 24;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3.1415px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }